**Linear Panel Data and Production Technology**

In [2]:
import pandas as pd 
import numpy as np
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf
from linearmodels.panel import PanelOLS, RandomEffects
from scipy.stats import chi2

**1 Cobb-Douglas Production**

In [3]:
dat = pd.read_csv('firms.csv') # Indlæser data fra firms.csv

In [4]:
dat.sample(5) # Returnerer en tilfældig prøve på 5 rækker fra dat-dataframen.

      firmid  year      lcap      lemp      ldsa
1755     147  1971 -1.054600 -0.570823 -0.870426
1453     122  1969  1.382743  1.353888  1.388371
5234     437  1970 -1.232760 -0.730552 -0.169053
3355     280  1975 -2.176820 -3.005750 -2.671020
2225     186  1973 -1.497430 -1.054870 -1.274150

In [5]:
dat.year.unique() # returnerer en numpy-array med alle unikke værdier i kolonnen year fra dataframen dat

array([1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978,
       1979])